[submodule "jdksavdecc-mcu"]
	path = jdksavdecc-mcu
	url = ../jdksavdecc-mcu.git
[submodule "libuv"]
	path = libuv
	url = ../libuv.git
[submodule "Obbligato"]
	path = Obbligato
	url = ../Obbligato.git
[submodule "http-parser"]
	path = http-parser
	url = ../http-parser.git
[submodule "uvrawpkt"]
	path = uvrawpkt
	url = ../uvrawpkt.git
